@import url("../Layout/Layout.css");


.office-img:hover {
  background-color: #004684;
}

div.carousel-conteudo {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  padding: 0 .5rem;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .5s;
}

section:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

nav.nav {
  background-color: transparent;
}

nav.nav a {
  color: #004684;
  font-size: 1.8rem;
  padding-right: 1.5rem;
  font-style: normal;
  line-height: 146px;
}

nav.nav a button {
  display: flex;
  background-color: #004684;
  padding: .5rem 2rem;
  width: fit-content;
  border-radius: .5rem;
  outline: 0;
  line-height: normal;
}

.root-main {
  background-image: url("../images/19366.jpg");
  background-repeat: no-repeat;
  background-position: right 0;
  background-color: black;
  background-size: cover;
}

.main-content h1 {
  display: flex;
  color: #004684;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}

div.main-content {
  display: flex;
  min-height: 10vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 2.5rem;
  margin-top: auto;
  flex: 1;
  overflow: hidden;
  padding-top: 10vh;

  /* Define a margem superior para acomodar a altura da navbar */
  /* Define a margem superior para acomodar a altura do footer */
}

.sub-title p {
  display: flex;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
}

.main-content button {
  font-size: 2.5rem;
}

