.tela {
  display: flex;
  height: fit-content;
  margin: 0 auto;
  width: fit-content;
  border-radius: .5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  background-color: white;
  transition: transform 2s ease;
  transform: translateY(100%);
  box-shadow: #004684 0px 1px 1px 0px inset, #004684 0px 50px 100px -20px, #004684 0px 30px 60px -30px;
}

.tela.show {
  transform: translateY(0);
}

.office span {
  display: flex;
  color: black;
}

.office {
  display: flex;
  flex-direction: column;
}

.tela img {
  display: flex;
  width: 30%;
  height: 30%;
}

.office img {
  display: flex;
  width: 80%;
  height: 80%;
}

.office-img {
  display: flex;
  border: .05rem solid #004684;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;

}

.office-img:hover {
  background-color: #004684;
}

div.carousel-conteudo {
  display: flex;
  width: fit-content;
  height: 10rem;
  padding: 0 .5rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-left: .2rem solid #004684;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section.texto1 p{
  font-weight: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section.texto2 p{
  font-weight: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-conteudo p {
  display: flex;
  color: #004684;
  font-weight: bold;
  text-decoration: underline;
  line-height: 2rem;
}
.custom-carousel .carousel-item {
  display: flex;
  background-color: transparent;
  padding-left: .5rem;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.custom-carousel {
  max-width: 18rem;
  overflow-x: hidden;

}

.custom-carousel .carousel-item.active {
  transform: translateX(0%);
}