@import url("../Layout/Layout.css");


.office-img:hover {
  background-color: #004684;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .5s;
}

section:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}



nav.nav-home a.link {
  color: #004684;
  font-size: 1.8rem;
  padding-right: 1rem;
  width: fit-content;
}

nav.nav-home a button {
  display: flex;
  background-color: #004684;
  padding: .5rem 2rem;
  width: fit-content;
  border-radius: .5rem;
  outline: 0;
  line-height: normal;
}

.nav-home #nav-items {
  row-gap: 3rem;
  justify-content: center;
}

.root-main-home {
  background-image: url("../images/19366.jpg");
  background-repeat: no-repeat;
  background-position: right 0;
  background-color: black;
  background-size: cover;
}

.main-content-home h1 {
  display: flex;
  color: #004684;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}

.root-main-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.header-home {

  margin-top: auto;
}

div.main-content-home {
  display: flex;
  min-height: 10vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  flex: 1;
  overflow: hidden;
  padding-top: 10vh;
  row-gap: 2rem;
  /* Define a margem superior para acomodar a altura da navbar */
  /* Define a margem superior para acomodar a altura do footer */
}

.sub-title p {
  display: flex;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
}

.main-content-home button.login-home {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .main-content-home h1 {
    line-height: 60px;
    font-size: 3.5rem;
    width: 80%;
    padding-top: .5rem;
  }

  .main-content-home p {
    width: 80%;
    font-size: .8rem;
  }

  .main-content-home button.login-home {
    font-size: 1.5rem;
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
  .main-content-home h1 {
    line-height: 60px;
    font-size: 2.5rem;
    width: 80%;
  }

  .main-content-home p {
    width: 80%;
    font-size: .5rem;
  }
}