.login {
  display: flex;
  height: fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  box-shadow: #004684 0px 1px 1px 0px inset, #004684 0px 50px 100px -20px,
    #004684 0px 30px 60px -30px;
  background-color: white;
}

.login-forms {
  display: flex;
  border: 0;
  color: #004684;
}

.email-campo,
.senha-campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.email-campo {
  /* alinha input email por causa do tamanho do olho  */
  padding-right: 38px;
}

.login-forms input {
  display: flex;
  border: 0;
  border-radius: 0;
  border-bottom: 0.1rem solid #004684;
  background-color: transparent;
  color: #004684;
}

.login-forms input :hover {
  border-bottom-color: black;
}

.login-forms input:focus {
  box-shadow: #004684 0px 1px 3px, #004684 0px 1px 2px;
}

.login img {
  display: flex;
  width: 40%;
  height: 40%;
}

.login-forms label {
  display: flex;
  color: #004684;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
}

form.login-forms button {
  margin-right: 38px;
}

.opcoes ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 auto;
  /* bootstrap coloca elemento ul com pl */
  padding-left: 0;
}

.opcoes ul li {
  margin: 0 auto;
  display: flex;
  font-size: 1rem;
  text-decoration: underline;
  color: red;
}

li a.link {
  margin: 0 auto;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

.campo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login a {
  display: flex;
  margin-right: auto;
}