.login {
  display: flex;
  height: fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 auto;
  box-shadow: #004684 0px 1px 1px 0px inset, #004684 0px 50px 100px -20px,
    #004684 0px 30px 60px -30px;
  background-color: white;
}

.login-forms {
  display: flex;
  border: 0;
  color: #004684;
}

.email-campo,
.senha-campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.email-campo {
  /* alinha input email por causa do tamanho do olho  */
  padding-right: 38px;
}

.login-forms input {
  display: flex;
  border: 0;
  border-radius: 0;
  border-bottom: 0.1rem solid #004684;
  background-color: transparent;
  color: #004684 !important;
}

.login-forms input :hover {
  border-bottom-color: black;
}

.login-forms input:focus {
  box-shadow: #004684 0px 1px 3px, #004684 0px 1px 2px;
}

.login img {
  display: flex;
  width: 40%;
  height: 40%;
  margin-right: 38px;
}

.login-forms label {
  display: flex;
  color: #004684;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
}

form.login-forms button {
  margin-right: 38px;
  margin-left: 0;
}

.opcoes ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 auto;
  /* bootstrap coloca elemento ul com pl */
  padding-left: 0;
}

.opcoes ul li {
  margin: 0 auto;
  display: flex;
  font-size: 1rem;
  text-decoration: underline;
  color: red;
}

li a.link {
  margin: 0 auto;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

.campo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login a {
  display: flex;
  margin-right: auto;
}
.logo.voltar{
  display: flex;
  justify-content: center;
}
.logo.voltar a{
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.logo.voltar img{
  margin: 0 auto;
  margin-left: -100px;

}
@media (max-width: 768px) {
  .login>a.link{
    margin: 0 auto;
  }
  .login{
    row-gap: 2rem;
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
  main {
    flex-direction: column-reverse;
  }

  .team-members {
    row-gap: 2rem;

  }

  main .texto {

    justify-content: unset;
    align-items: unset;
  }

  main .texto section {
    width: 120%;
    padding: 2rem;
  }

  .texto section p {
    width: 100%;
  }

  .member {
    width: 80%;
  }

  main .img-space {
    width: fit-content;
    justify-content: center;
    align-items: center;
  }

  .img-space img {
    width: 15rem;
    height: 15rem;
  }
}