* {
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

p.content-text {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  color: #004684;
  line-height: 1rem;
  font-weight: bolder;
  line-height: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  --c: #004684;
  /* cor da borda */
  --b: 3px;
  /* grossura da borda*/
  --g: 1.5rem;
  /* padding do efeito */
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background: conic-gradient(from 180deg at top var(--b) right var(--b),
      var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%) / var(--_i, var(--b)) 200% no-repeat;
  transition: 1s, background-position 1s 1s;
  cursor: pointer;
}

section:hover {
  --_i: 100%;
  transition: 1s, background-size 1s 1s;
}

.team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
}

div.icons{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  
  justify-content: center;
  align-items: center;
}
div.icons i{
  display: flex;
}

.member {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
}

.member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.bsz {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 50rem;


}

.bsz img {
  display: flex;
  width: 11rem;
  height: 8.5rem;
  background-color: #004684;
  border-radius: 0.5rem;
  box-shadow: #004684 0px 1px 0px, #004684 0px 8px 24px, #004684 0px 16px 48px;
}

button {
  border: none;
  box-shadow: #004684 0px 1px 0px, #004684 0px 8px 24px, #004684 0px 16px 48px;
}

button {
  display: flex;
  background-color: #004684;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

button :hover {

  color: #004684;
}

@keyframes animation {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}