@import url("./Navabar.css");

img {
  display: flex;
  width: 50%;
  height: 50%;
}

button.sbn1 {
  color: #004684;
  background-color: white;
  margin: 0 auto;
}

button.sbn1:hover {
  background-color: #004684;
  color: white;
}

a.link.maua img {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
  button.sbn1 {}
}