.nav {
  background-color: #004684;
  min-height: 10vh;
}

.container {
  height: fit-content;
}
.nav.logout button{
  margin-right: 0;
  background-color: white;
}
.nav.logout .logo{
  margin: 0 auto;
}
.nav.logout #nav-items{
  justify-content: unset;
  align-items:  unset;
}
.logo .link {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;

}

.logo .link img {
  width: 40%;
  height: 100%;
}

a.link {
  display: flex;
  color: white;
  text-decoration: none;
}

#nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  color: white;
  
}
