.nav {
  background-color: #004684;
  min-height: 8vh;
  row-gap: 2rem;
  padding-bottom: 1rem;
}

.container {
  height: fit-content;
}

.logo {
  display: flex;
  margin-right: 0;
}

.container-fluid {
  display: flex;
  justify-content: none;
  align-items: none;
  row-gap: 2rem;
  width: fit-content;
  column-gap: 2rem;
}

a.logo-nav img {
  margin: 0 auto;
  width: 50%;
}

a.logo-nav {
  width: 30%;
}
.component#nav-items i{
  color: white;
}
.component#nav-items a.link.texto:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
#nav-items {
  display: flex;
  margin: auto;
  color: white;
  column-gap: 5%;
  row-gap: 2rem;
  width: 60%;
}

div.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

div.user i {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

div.user p {
  display: flex;
  color: white;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (max-width: 1600px) {
  a.logo-nav {
    width: 30%;

  }

  a.logo-nav img {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  #nav-items {
    column-gap: 5%;
  }

  .user {
    column-gap: 1%;
  }

  .nav {
    flex-direction: column;

  }

  .header img {
    margin: 0 auto;
    width: 100%;
  }

  a.logo-nav {
    width: 100%;

  }

  a.logo-nav img {
    width: 50%;
    height: 100%;
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 768px) {
  #nav-items {
    flex-direction: column;
  }

  .container-fluid img {
    margin: 0 auto;
    width: 100%;
    height: 10rem;
  }

}