.nav {
  background-color: #004684;
  min-height: 8vh;
  row-gap: 2rem;
  padding-bottom: 1rem;
}

.container {
  height: fit-content;
}

.logo {
  display: flex;
  margin-right: 0;
}

.container-fluid {
  display: flex;
  justify-content: none;
  align-items: none;
  row-gap: 2rem;
  width: fit-content;
  column-gap: 2rem;
}

a.logo-nav img {
  margin: 0 auto;
  width: 50%;
}

a.logo-nav {
  width: 30%;
}

#nav-items {
  display: flex;
  margin: auto;
  color: white;
  column-gap: 10%;
  row-gap: 2rem;
  width: 60%;
}

/* css do botão que aciona o dropdown 24-39 */
#navDropDown {
  display: flex;
  background-color: white;
  color: #004684;
  border-radius: 0.5rem;
  border: 0.1rem solid #004684;
  justify-content: center;
  align-items: center;
  padding: .5rem 2rem;
  margin: 0;
  z-index: 1;
}

.container-fluid.header a.link {
  padding: .5rem;
  border-radius: .5rem;
}

.container-fluid.header a.link:hover {
  color: #004684;
  background-color: white;
}

#navDropDown:hover {
  background-color: #004684;
  color: white;
  text-decoration: none;
  border-color: white;
}

/* css dos itens presentes no dropdown 41-49*/

/* css para alterar a div que contém todas as opções do dropdown */
.dropdown-menu.show {
  display: flex;
  border-color: #004684;
  height: fit-content;
  box-shadow: #004684 0px 5px 15px;
}

div.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

div.user i {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

div.user p {
  display: flex;
  color: white;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (max-width: 1600px) {
  a.logo-nav {
    width: 30%;

  }

  a.logo-nav img {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  #nav-items {
    column-gap: 5%;
  }

  .user {
    column-gap: 1%;
  }

  .nav {
    flex-direction: column;

  }

  .header img {
    margin: 0 auto;
    width: 100%;
  }

  a.logo-nav {
    width: 100%;

  }

  a.logo-nav img {
    width: 50%;
    height: 100%;
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 768px) {
  #nav-items {
    flex-direction: column;
  }

  .container-fluid img {
    margin: 0 auto;
    width: 100%;
    height: 10rem;
  }

}
