
label {
  display: flex;
  color: black;
  text-decoration: underline;
  text-decoration-color: #004684;
}

form input:active {
  border: 0;
  color: #004684;
}

select {
  width: fit-content;
  padding: 0 5rem;
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  padding: 0.1rem 0;
  outline: 0;
  background-color: #004684;
  color: white;
  border: 0.1rem solid #004684;
}

input[type="submit"]:hover {
  background-color: white;
  color: #004684;
  font-weight: bold;
}

/* css para os resultados das medias! */
.resultado_p,
.resultado_np {
  display: flex;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
}

/* css para passou */
.resultado_p {
  background-color: green;
  border-radius: 0.5rem;
  border: 0.2rem solid green;
}

/* css para nao passou */
.resultado_np {
  background-color: rgb(110, 27, 27);
  border-radius: 0.5rem;
  border: 0.2rem solid rgb(110, 27, 27);
}

.resultados {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 0 auto;
  padding: 5%;
}

.resultado-display {
  display: flex;
  background-color: #004684;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 0.2rem solid #004684;
  padding: 1rem;
  row-gap: 1.5rem;
  box-shadow: #004684 0px 2px 5px 0px, #004684 0px 1px 1px 0px;
}

button[type="reset"] {
  background-color: red;
  box-shadow: red 0px 2px 4px, red 0px 7px 13px -3px, red 0px -3px 0px inset;
}

button{
  background-color: #004684 ;
  box-shadow: #004684  0px 2px 4px, #004684 0px 7px 13px -3px, #004684 0px -3px 0px inset;
}

button[type="button"] {
  background-color: green;
  box-shadow: green 0px 2px 4px, green 0px 7px 13px -3px,
    green 0px -3px 0px inset;
}

.error-txt {
  display: flex;
  color: red;
  font-weight: bold;
  font-size: 1rem;
}
