label {
  display: flex;
  color: black;
  text-decoration: underline;
  text-decoration-color: #004684;
}

form input:active {
  border: 0;
  color: #004684;
}

select {
  width: fit-content;
  padding: 0 5rem;
  margin: 0 auto;
}

select option {
  font-size: 1rem;
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  padding: 0.1rem 0;
  outline: 0;
  background-color: #004684;
  color: white;
  border: 0.1rem solid #004684;
}

input[type="submit"]:hover {
  background-color: white;
  color: #004684;
  font-weight: bold;
}

/* css para os resultados das medias! */
.resultado_p,
.resultado_np {
  display: flex;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
}

/* css para passou */
.resultado_p {
  background-color: white;
  border-radius: 0.5rem;
  padding: .5rem;
  color: green;
}

/* css para nao passou */
.resultado_np {
  background-color: white;
  border-radius: 0.5rem;
  padding: .5rem;
  color: red;
}

.resultados {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 0 auto;
  padding: 5%;
}

.resultado-display {
  display: flex;
  background-color: #004684;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 0.2rem solid #004684;
  padding: 1rem;
  margin: 0 auto;
  row-gap: 1.5rem;
  box-shadow: #004684 0px 2px 5px 0px, #004684 0px 1px 1px 0px;
}

.resultado-display span {
  display: flex;
  color: white;
  margin: 0 auto;
}

.resultado-display button {
  background-color: white;
  color: #004684;
}

.resultado-display button:hover {
  background-color: #004684;
  color: white;
}

.error-txt {
  display: flex;
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

.btns {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.psub button {
  display: flex;
  width: 10rem;
  white-space: nowrap;

}

.psub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.root-cursos h1 {
  display: flex;
  background-color: #004684;
  border-radius: .5rem;
  color: white;
  padding: 1rem;
  box-shadow: #004684 1.95px 1.95px 2.6px;
}

.root-cursos {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}